<div style="margin-top: 200px;">
    <div>
        <form method="post" action="/chitiet/stort">
             <label>STT</label>
             <input type="text" name="STT">
              <label>Name</label>
              <input type="text" name="name">
               <label>img</label>
              <input type="text" name="img">
              <label>Gia</label>
              <input type="text" name="Gia">
              <label>slug</label>
              <input type="text" name="slug">
              <label>img_phu1</label>
              <input type="text" name="img_phu1">
              <label>img_phu2</label>
              <input type="text" name="img_phu2">
             <input type="submit" name="submit">
        </form>
    </div>
</div>