
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .giohang1{
    margin-top: 100px;
  }

	.Header{
		background-color: black;
	}

</style>
<body>
 
  <div>
    <table class="giohang1" >
        <tr>
            <td>STT</td>
            <td>ảnh</td>
            <td>Name</td>
            <td>Giá</td>
            <td>Số Lượng</td> 
            <td>Thành Tiền</td>
        
        </tr>
        <br />

           {{{ id }}}

        </tr>
    </table>
</div>



