<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .Header{
        background-color: black;
    }
</style>
<body>
         <div class="list_img" >
                
              <div className='container' data-aos="fade-up"
     data-aos-duration="3000">
                <div class="column" >
                  <div class="post-module">
                    <div class="thumbnail"   >
                      <div class="date" >
                        <div class="day">-17%</div>
   
                      </div>
                   
                        <a href="/chitiet/{{vay.slug}}">
          
                        <img src="{{vay.img}}"  />
                        </a>
                    </div>
                    <div class="post-content">
                      <div class="category"  >Photos</div>
                      <label class="title">{{vay.name}}</label>
                      <label class="sub_title">{{vay.Gia}}đ</label>
      
                      <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i>
                          6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#">39 comments</a></span></div>
                    </div>
                  </div>
                </div>
      
                </div>

                    </div>
</body>
</html>